---
spring:
  application:
  name: MLMP
  datasource:
    username: ${DB_USER:mlmp-local}
    password: ${DB_PASSWORD:not-secure}
    url: ${DB_URL:jdbc:postgresql://localhost:10001/mlmp}
    driverClassName: org.postgresql.Driver
    hikari:
      maximum-pool-size: ${DB_MAXIMUM_POOL_SIZE:15}
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        globally_quoted_identifiers: true
    init:
      platform: postgres

app:
  jwt:
    secret: ${JWT_SECRET:some-not-secure-secrets}
    accessTokenExpiration: 86400000
    refreshTokenExpiration: 864000000

page:
  size: 10

stripe:
  keys:
    public: pk_test_51JR4AZK2tcx4NjRfD1FUYZbPHTkntBKFCBouAXvUxbg53a6IAlVXhpOg6SStl1gPFEcmpZnCeGh7qSIcZ4CPnz1T00hRQ7l3vB
    secret: sk_test_51JR4AZK2tcx4NjRfUb6qgWxPmYupPJ78lLrUOhg3At1zzKdENpKVaosBMoDLTl0v0vAd3zMWZYy2MHuPmHEuDFck00XnwLmAcc

baseURL: http://localhost:8080/