name: Build Docker Image

on:
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Install Commons
        run: mvn clean install --projects commons -DskipTests

      - name: Build Docker Image
        working-directory: ./mlmp-api
        run: mvn spring-boot:build-image -DskipTests -Dspring-boot.build-image.imageName=mustartt/mlmp-api:latest

      - name: Push to Docker Hub
        uses: actions-hub/docker@master
        with:
          args: push mustartt/mlmp-api:latest